<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <svg width="0" height="0">
      <defs>
        <clipPath id="clipCircle">
          <circle cx="0" cy="0" r="24" />
        </clipPath>
      </defs>
    </svg>
    <div id="container"></div>

    <script type="text/javascript" src="/javascripts/lib/d3.v3.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>