body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.card text {
  fill: #aad3e6;
  stroke: none;
  font-size: 20px;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.card rect {
  stroke: none;
}